/* 메인페이지 헤더 */
.header {
  width: 95%;
  margin: 40px auto 0;
  padding: 18px 28px;
  background-color: #1976d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* 메인페이지 로고 */
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

 /* 우측상단 메뉴 */
.nav {
  color: white;
  display: flex;
  align-items: center;
  gap: 32px;
}